name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    if: startsWith(github.event.head_commit.message, 'act on ') || startsWith(github.event.pull_request.title, 'act on ')
    runs-on: windows-latest
    env:
      IMAGE_TAG: make-flippy:${{ github.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Build the Docker Image
        run: |
          docker build -f Dockerfile -t $env:IMAGE_TAG .

      - name: Run the Docker Image
        run: |
          docker run $env:IMAGE_TAG

      - name: Copy Plugin Directory from Docker Container
        shell: powershell
        run: |
          docker cp "$(docker ps -aq --filter "ancestor=$env:IMAGE_TAG"):/flop/build/bl_flip_fluids/flip_fluids_addon" "./flip_fluids"

      - name: Add Debug Lib Files
        run: |
          copy .\flip_fluids\pyfluid\lib\libblpyfluidrelease.dll .\flip_fluids\pyfluid\lib\libblpyfluiddebug.dll && `
          copy .\flip_fluids\pyfluid\lib\libblpyfluidrelease.dll.a .\flip_fluids\pyfluid\lib\libblpyfluiddebug.dll.a

      - name: Upload ZIP as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flip_fluids
          path: flip_fluids\*
